body{
	width: 40%;
	margin: auto;
}
.li-default li{
	list-style: none;	
	background-color:  yellow;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	display: inline-block;
}
.li-selected{
	background-color: green;
	list-style: none;	
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	display: inline-block;
}
span{
	color: red;
}
